.home {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
}
.home .cards-container {
  padding: 30px;
}
.home .cards-container h2 {
  position: relative;
}
.home .cards-container h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #444;
}

/* .trending-section {
  padding: 40px;
}

.trending-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-row {
  display: flex;
  overflow-x: auto;
  gap: 10px;
} */
