.home {
    background-color: black;
    color: white;
}

.mlti-container {
    
    padding: 0px 80px;
    font-size: 20px;
    line-height: 2;
    font-weight: 700;
    transform: translateY(-140px);
    margin-bottom: 100px;
}
    .mlti-container hr {
        border: .5px solid rgba(129, 121, 121, 0.473);
        height: .5px;
        margin-bottom: 25px;

}


@media(
    max-width: 768px) {
        .mlti-container {
            padding: 0px 5px;
            transform: translateY(-10px);
            margin-bottom: 30px;


        }
    
    }









