.card-slider-container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.card-slider-container .arrow {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.card-slider-container .arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.card-slider-container .left-arrow {
  position: absolute;
  left: 10px;
}

.card-slider-container .right-arrow {
  position: absolute;
  right: 10px;
}

.card-slider-container .card-slider {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 50px 20px;
}
