.main-header {
  display: flex;
  justify-content: center;
  gap: 13px;
  padding: 18px;
  background-color: rgb(30, 39, 45);
  align-items: center;
  color: white;
}

.main-header h3 {
  font-size: 28px;
  font-weight: 700;
}

.main-header a {
  text-decoration: none;
  color: white;
}
