.movies-container {
  display: flex;
  flex-direction: column;
}
.moviescard-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.filter-movie {
  margin: 50px 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.filter-movie select {
  padding: 10px;
  background-color: rgb(30, 39, 45);
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s;
}
.filter-movie select:focus {
  border-color: red;
}
.movies-container p {
  color: white;
  margin: 20px;
}
.movies-container .pages {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.movies-container .pages button {
  background-color: rgb(30, 39, 45);
  width: 60px;
  height: 40px;
  color: white;
  font-size: 15px;
  line-height: 1.2;
  border: none;
  cursor: pointer;
}
.movies-container .pages button:first-of-type,
.movies-container .pages button:last-of-type {
  width: 100px;
  color: red;
}
.movies-container .pages button.active,
.movies-container .pages button:hover {
  background-color: red;
  color: white;
}
@media (max-width: 768px) {
  .movies-container {
    flex-direction: column;
    align-items: center;
  }
  .filter-movie {
    gap: 50px;
  }
  .movies-container .pages {
    width: 80%;
  }
}
