

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.admin-container .info {
    color: white;
    display: flex;
    gap: 50px;
    font-size: 3rem;
}

.admin-container .info h5 {
    background-color: red;
    width: 130px;
    height: 130px;
    text-align: center;
    margin: auto;padding-top: 50px;
    border-radius: 5px;
    
}










