.notFound {
  height: 85vh;
  background-color: #000;
  display: grid;
  place-items: center;
}
.notFound .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 500px;
}

.notFound .container .title {
  font-size: 100px;
  font-weight: bold;
  color: rgb(239, 68, 68);
}

.notFound .container .subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #555;
}

.notFound .container .message {
  font-size: 16px;
  margin-bottom: 20px;
  color: #777;
}

.notFound .container button {
  padding: 10px 20px;
  background-color: rgb(239, 68, 68);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.notFound .container button:hover {
  background-color: #d62c1a;
}
